.app-container{

}
.country-item{
   width:15%;
   padding: 2rem;
   margin: 1rem;
   text-align: center;
   border : 1px solid #ccc;
   border-radius: 0.5rem;
   box-shadow: 0 0 0.5rem #ccc;
   
}
.country-item img{
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.country-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2;

}
.calculator-container,.xlogin-container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.xlogin-form{
  text-align: center;
}

.calculator-container .buttons-container button{
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  
}
.calculator-container input{
  width: 15rem;
  height: 3rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  text-align: end;
}